
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/ocean.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/widok.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/widok2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eos facere inventore laborum numquam officiis qui quibusdam recusandae similique veritatis.</p>
